$main-color: #383838;
$sub-color: #ffffff;
$black: #383838;
$blue: #084a9b;
$red: #be0b0b;
$green: #2fa110;
$gray: #e9e9e9;
$lightgray: #e7e7e7;
$yellow: #ffa000;
$white: #ffffff;
$deepgray: #949494;

$box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);

$container_width: 800px;
$container_height: 600px;
