@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './reset';
@import './variables';

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: $red;

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: $container_width;
    height: $container_height;
    background-color: rgba($yellow, 0.7);

    .title {
      padding: 20px;
    }
  }
}
